<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title> Veterinaria B&C </title>
        <link rel="stylesheet" href="../static/css/stylehome.css" type="text/css" media="all" />
        <script src="../static/js/apphome.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1> Clinica veterinaria Bigotes y Colas </h1>
        <h2> Urgencias 24 horas línea 3298907654 </h2>
        <p>Somos una clinica especializada en el cuidado de tus mascotas, nuestro principal objetivo es el bienestar de nuestros pacientes. Una veterinaria es mucho más que un centro médico para mascotas; es un santuario dedicado al bienestar integral de los animales.
        En estos espacios, se fusiona la pasión por los animales con el conocimiento científico y la habilidad técnica para proporcionar cuidados médicos avanzados. Desde perros y gatos hasta aves exóticas y animales de granja, cada paciente recibe atención individualizada y compasiva. Además de tratar enfermedades y lesiones, una veterinaria promueve la prevención a través de vacunas y consejos de salud,
        educando a los dueños sobre la importancia de un estilo de vida saludable para sus mascotas.</p> <br />
        <div> 
        <img src="../imagenes/Left.jpg" style="float: left;" width="200"></img>
        <img src="../imagenes/rigth.jpg" style="float: right;" width="200"></img> <br /> <br />
        <button onClick="registrar()"> Registrar Mascota </button>
        <button onClick="consultar()"> Consultar Mascota </button>
        <button onClick="urgecias()"> Consulta Urgencias </button>
        </div>
    </body>
</html>